# Ignore raw data
data/raw/

# Ignore temporary or cache files
*.tmp
*.log
cache/
__pycache__/

# Ignore large files by type
*.osm
*.pbf
*.zip


 # Python virtual environments
.conda/envs/

# Project cache
cache/

# environment.yaml
environment.yaml

